<!DOCTYPE html>
<html>
  <head>
    <title>Large</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script type="text/javascript">window.formImg = "<%= image_url('formbackground.png') %>"</script>
    <script type="text/javascript">window.splash1 = "<%= image_url('splash1.png') %>"</script>
    <script type="text/javascript">window.splash2 = "<%= image_url('splash2.png') %>"</script>
    <script type="text/javascript">window.splash3 = "<%= image_url('splash3.png') %>"</script>
    <script type="text/javascript">window.github = "<%= image_url('github.png') %>"</script>
    <script type="text/javascript">window.linkedin = "<%= image_url('linkedin.png') %>"</script>
    <script type="text/javascript">window.bullet = "<%= image_url('splashbullet.png') %>"</script>
    <script type="text/javascript">window.photoupload = "<%= image_url('photoupload.png') %>"</script>
    
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>


